
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static "pool/gotdp.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet"> 
</head>

<body background="{% static "pool/arya_walder.jpeg" %}">

<div class="hometitle">
    Game of Thrones Death Pool
</div>

<div class="homeright">
    <br/>
    
    {% if user.is_authenticated %}

        <a href="logout">Logout</a>
        <br/>
        <a href="{% url 'profile' %}">Your Picks</a>

    {% else %}

        <a href="accounts/login">Login</a>
        <br/>
        <a href="{% url 'register_user' %}">Register</a>

    {% endif %}
    
    <br/>
    <br/>
    <a href="{% url 'summary' %}">Totals</a>
    <br/>
    <a href="{% url 'scoreboard' %}">Scoreboard</a>
    <br/>
    <a href="{% url 'rules_disclaimers' %}">Rules</a>
    <br/>

</div>

<div class="homebottom">
    <h3>Make your predictions for who will survive Season Eight of Game of Thrones.</h3>
</div>

</body>
