
{% extends "base.html" %}


{% block content %}


<h4>Picks for {{ user.email }}</h4>

<a href="{% url 'select_characters' %}">Update</a>

<br/>

<div>

    <div style="width: 33%; float: left;">
        <p>Lives</p>
        {% for c in lives %}
            {{ c.name }}<br/>
        {% endfor %}
    </div>

    <div style="width: 33%; float: left;">
        <p>Dies</p>
        {% for c in dies %}
            {{ c.name }}<br/>
        {% endfor %}
    </div>

    <div style="width: 33%; float: left;">
        <p>No prediction</p>
        {% for c in unselected %}
            {{ c.name }}<br/>
        {% endfor %}
    </div>

</div>

{% endblock %}
