
{% extends "base.html" %}


{% block content %}


<h4>Picks for {{ user.email }}</h4>

<a href="{% url 'select_characters' %}">Update</a>

<br/>

<div>

    <div style="width: 33%; float: left;">
        <h3>Lives</h3>
        {% for c in lives %}
            {{ c.name }}<br/>
        {% endfor %}
    </div>

    <div style="width: 33%; float: left;">
        <h3>Dies</h3>
        {% for c in dies %}
            {{ c.name }}<br/>
        {% endfor %}
    </div>

    <div style="width: 33%; float: left;">
        <h3>No prediction</h3>
        {% for c in unselected %}
            {{ c.name }}<br/>
        {% endfor %}
    </div>

</div>

<br/>

<a href="{% url 'select_couples' %}">Couples</a>

<div>

</div>

{% endblock %}
