
{% extends "base.html" %}


{% block content %}


<h3>{{ user.email }} Predictions</h3>

<hr/>

<div class='outlined'>

<div class='outlined_header'>Mortality Predictions</div>

<div>

    <div style="width: 33%; float: left;">
        <div class='list_heading'>Lives</div>
        {% for c in lives %}
            {{ c.name }}<br/>
        {% endfor %}
    </div>

    <div style="width: 33%; float: left;">
        <div class='list_heading'>Dies</div>
        {% for c in dies %}
            {{ c.name }}<br/>
        {% endfor %}
    </div>

    <div style="width: 33%; float: left;">
        <div class='list_heading'>No Prediction</div>
        {% for c in unselected %}
            {{ c.name }}<br/>
        {% endfor %}
    </div>

    <div style="clear: both"></div>

</div>

<br/>

<a href="{% url 'select_characters' %}">Update</a>

</div>


<br/>

<hr/>

<div class='outlined'>

<div class='outlined_header'>Romantic Predictions</div>

<table>
{% for couple in couples %}

    <tr>
        <td> {{ couple.left.name }} </td>
        <td>and</td>
        <td> {{ couple.right.name }} </td>
    </tr>

{% endfor %}
</table>

<br/>

<a href="{% url 'select_couples' %}">Update</a>

</div>

{% endblock %}
