
<h4>Rules</h4>

<ul>
    <li>Each correct prediction is worth one point. Each incorrect (or missing) prediction is worth minus one point. So, getting whether Jon Snow lives or dies is worth the same as whether Podrick lives or dies. It's called democracy.</li>
    <li>What is dead? The passage from life to death in Westeros is much less one way than in our own world. And there are states that are not recognizably alive or dead. At the end of Season Five, Jon Snow was dead. At the end of Season Six, he was not. Is The Mountain alive or dead? Hard questions. For the purposes of this pool:
        <ul>
            <li>I cannot define dead, but I know it when I see it.</li>
            <li>People who just disappear offscreen and we don't know what happens to them: assumed alive. BUT: if someone is widely portrayed to be dead: (e.g. Bran and Rickon in the middle of Season Two, The Hound at the end of Season Four, they will be marked as dead.)</li>
            <li>People who are walking zombies, distinctly lacking in free-will and the natural power of biological life: dead. (This includes the mountain and everyone in "The Army of the Dead".</li>
            <li>People who were once dead, but are now seemingly alive (e.g. Jon Snow, Beric Dondarrion): alive.</li>
            <li>I am just going to make declarations in the case of ambiguity. Don't like that system? <a href="https://github.com/ojplg/gotdp">Fork the code.</a></li>
        </ul>
    </li>
    <li>The scoreboard shows the points that people have earned as of that moment. All the characters now listed are alive, so just picking everyone to live gives you a perfect score. But do you really expect that to last?</li>
    <li>Predictions must be made before the first episode airs/leaks. I will release a new version of the application at that time with no ability to adjust your picks.</li>
    <li>There's no money involved, unless people want to make bets on the side, so who really cares?</li>
</ul>

