
{% extends "base.html" %}

{% load pool_filters %}

{% block content %}

<h3>Scoreboard</h3>

<p>Scores will be updated as episodes are released and characters are killed off or
make liaisons.</p>

<table>

    <thead>
        <tr>
            <th>Competitor</th>
            <th>Score</th>
        </tr> 
    </thead>

    {% for email in scores.keys %}
        <tr>
            <td>{{ email }}</td>
            <td class="number">{{ scores|get_item:email }}</td>
        </tr>
    {% endfor %}

</table>

{% endblock %}
