
{% extends "base.html" %}

{% load pool_filters %}

{% block content %}

<h3>Scoreboard</h3>

<p>Scores will be updated as episodes are released and characters are killed off or
make liaisons.</p>

<table>

    <thead>
        <tr>
            <th>Competitor</th>
            <th>Mortality Score</th>
            <th>Romance Score</th>
            <th>Total Score</th>
        </tr> 
    </thead>

    {% for email in scores.keys %}
        {% with score=scores|get_item:email %}
        <tr>
            <td>{{ email }}</td>
            {% for s in score %}
                <td class="number">{{ s }}</td>
            {% endfor %}
        </tr>
        {% endwith %}
    {% endfor %}

</table>

{% endblock %}
