
{% extends "base.html" %}

{% load pool_filters %}

{% block content %}

<h3>Scoreboard</h3>

<p>Scores will be updated as episodes are released and characters are killed off or
make liaisons.</p>

<table id='scores_table'>

    <thead>
        <tr>
            <th>Competitor</th>
            <th data-tsorter="numeric">Mortality Score</th>
            <th data-tsorter="numeric">Romance Score</th>
            <th data-tsorter="numeric">Total Score</th>
        </tr> 
    </thead>

    {% for name in scores.keys %}
        {% with score=scores|get_item:name %}
        <tr>
            <td>{{ name }}</td>
            {% for s in score %}
                <td class="number">{{ s }}</td>
            {% endfor %}
        </tr>
        {% endwith %}
    {% endfor %}

</table>

<script>
function init() {
    var sorter1 = tsorter.create('scores_table');
}
    
window.onload = init;
</script>

{% endblock %}
