
{% extends "base.html" %}


{% block content %}


<h3>Indicate which characters will couple up.</h3>

<form action="/pool/select_couples" method="post">

{% csrf_token %}

<table id="couple_form_table">

{% for field in form %}
    {{ field }}
{% endfor %}

</table>

</form>

<button onclick='addRow()' id='new_row_button'/>Add Couple</button>

<script>
    var lastDisplayedRow = 0;
    var rows = []    
    var rowCount = 3;

    window.onload=function(){
        console.log('doing loading!');

        var table = document.getElementById('couple_form_table');

        for(var idx=0; idx<rowCount; idx++){
            var leftTd = document.createElement('td');
            var leftInput = document.getElementById('id_left' + idx);
            leftTd.appendChild(leftInput);
            var rightTd = document.createElement('td');
            var rightInput = document.getElementById('id_right' + idx);
            rightTd.appendChild(rightInput);
            var row = document.createElement('tr');
            row.appendChild(leftTd);
            row.appendChild(rightTd);
            table.appendChild(row);

            rows.push(row);

            if( idx > 0 ){
                row.style.display = 'none';
            }
        }

        var finalRow = document.createElement('tr');
        var emptyTd = document.createElement('td');
        var inputTd = document.createElement('td');
        var submitButton = document.createElement('input');
        submitButton.type='submit';
        submitButton.value='OK';
        inputTd.appendChild(submitButton);
        finalRow.appendChild(emptyTd);
        finalRow.appendChild(inputTd);
        table.appendChild(finalRow);
    };

    var addRow=function(){
        if( lastDisplayedRow < rowCount ){
            lastDisplayedRow++;
            var newRow = rows[lastDisplayedRow];
            newRow.style.display = 'table-row';
        }
        if ( lastDisplayedRow >= rowCount - 1 ) {
            var newRowButton = document.getElementById('new_row_button'); 
            newRowButton.style.display='none';
        }
    };
</script>

{% endblock %}

