
{% extends "base.html" %}

{% load pool_filters %}

{% block content %}

<h3>Totals</h3>

<h5>The number of people predicting whether each character will live or die.</h5>

<table id='summary_table'>

    <thead>
        <tr>
            <th></th>
            <th data-tsorter="numeric">&nbsp;Live</th>
            <th data-tsorter="numeric">&nbsp;Die</th>
            <th data-tsorter="numeric">&nbsp;Percent Chance of Survival</th>
            <th>&nbsp;Survey Says</th>
        </tr> 
    </thead>

    <tbody>
    {% for character in characters %}
        <tr>
            <td class="character_name">{{ character.name }}</td>
            <td class="number">{{ liveCount|get_item:character }}</td>
            <td class="number">{{ deadCount|get_item:character }}</td>
            <td class="number">{{ livePercentage|get_item:character }}</td>
            <td class="status">
                {% if character.status == 'D' %} DEAD {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<h5>Predicted couple counts.</h5>

<table id="couple_table">
 
    <thead>
        <tr>
            <th colspan="3">Couple</th>
            <th></th>
            <th data-tsorter="numeric">Count</th>
        </tr> 
    </thead>

   
    <tbody>
    {% for couple in coupleCounts %}
        <tr>
            <td class="character_name">{{ couple.0 }}</td>
            <td>&nbsp;and&nbsp;</td>
            <td class="character_name">{{ couple.1 }}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="number">{{ coupleCounts|get_item:couple }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<script>
function init() {
    var sorter1 = tsorter.create('summary_table');
    var sorter2 = tsorter.create('couple_table');
}
    
window.onload = init;
</script>

{% endblock %}
