
{% extends "base.html" %}

{% load pool_filters %}

{% block content %}

<h3>Totals</h3>

<p>The number of people predicting whether each character will live or die.</p>

<table>

    <thead>
        <tr>
            <th></th>
            <th>Lives</th>
            <th>Dies</th>
            <th>Percent Chance of Survival</th>
        </tr> 
    </thead>

    {% for character in characters %}
        <tr>
            <td class="character_name">{{ character.name }}</td>
            <td class="number">{{ liveCount|get_item:character }}</td>
            <td class="number">{{ deadCount|get_item:character }}</td>
            <td class="number">{{ livePercentage|get_item:character }}</td>
        </tr>
    {% endfor %}

</table>

{% endblock %}
