
body {
    background-size: cover;
    background-color: #333333;
    font-size: 20px;
    font-family: "Alegreya", serif;
    color: grey;
}

div.content {
    width: 80%;
    margin: 0 auto;
}

div.hometitle {
    float: left;
    font-size: 48px;
    font-weight: bold;
}

div.homeright {
    width: 15%;
    float: right;
    font-weight: bold;
}

div.homebottom {
    position: absolute;
    bottom: 15px;
    color: pink;
}

div.navigation_items {
    font-size: 16px;
}

div.navigation_login {
    position: absolute;
    right: 8px;
    top: 0;
    font-size: 16px;
}

div.navigation_end {
    clear: left;
}

a:link {
    color: red;
}

a:visited {
    color: yellow;
}

span.emphasize {
    font-weight: bold;
    color: red;
}

th {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

td.number {
    text-align: right;
}

th.form {
    text-align: left;
}

td.status {
    text-align: center;
    color: red;
}

div.outlined {
    border: none;
    border-color: black;
    border-width: thin;
}

div.outlined_header {
    font-size: 28;
    text-decoration: underline;
}

div.list_heading {
    font-size:24px;
    text-decoration: underline;
}
